// Required imports
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import 'variables';

// Bootstrap features
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/utilities';

//  General Page Layout
//  -------------------

html, body {
  height: 100%;
}

//  Buttons
//  -------

.btn-primary {
  font-weight: bold;
  font-size: .875rem;
  color: #FFFFFF;

  &:disabled { color: #FFFFFF; }

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-round {
  border-radius: .9375rem;
  padding: .125rem 1.5rem;

  &:disabled { color: #FFFFFF; }
}

//  Form Elements
//  -------------

.input-group {
  background-color: $input-bg;
  border-radius: $input-border-radius;

  .input-group-append .btn {
    border-radius: $btn-border-radius;
    margin: 2px;
  }
}

//  Modifiers
//  ---------

.text-antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
